@use "../../variables.scss" as mixed;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 50px;

  background:mixed.$secondaryColor;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;
  z-index: 1000;

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }

    h1 {
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;

      li {
        .getStarted{
          background-color: rgba(0, 0, 0, 0.1);
          color: white;
          padding: 8px 16px;
          border-radius: 8px;
          transition: all 0.3s ease;
          border: 1px solid #ffff;

          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: white;
            text-decoration: none;
          }
        }

        a {
          text-decoration: none;
          color: #ffff;
          font-size: 16px;
          font-weight: 600;
          padding: 8px 12px;
          border-radius: 8px;
          transition: all 0.3s ease;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            color: #ffff;
          }

          &.active {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}

.profile {
  position: relative;
  cursor: pointer;

  .avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    border: 3px solid rgb(6, 161, 6);

    &:hover {
      transform: scale(1.1);
    }
  }

  .dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease;

    p {
      font-weight: 500;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      padding: 8px;
      border: none;
      background: red;
      color: white;
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: darkred;
      }
    }
  }
}

/* 🔥 animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* 📱 Mobile Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 15px;

    nav ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}
