$primaryColor:#181816;
$secondaryColor:#00709F;
$primaryTextColor:#f4f4f5;
$secondaryTextColor:#8d8d96;
$mobileBreakPoints:489px;
$tabletBreackPoins:720px;
$deskBreakPoints:1200;
$headingFontSize:48px;
$spaceY:4rem 2rem 0 0;