$primaryColor:#181816;
$secondaryColor:#2dc5b2;
$primaryTextColor:#f4f4f5;
$secondaryTextColor:#8d8d96;
$mobileBreakPoints:489px;
$tabletBreackPoins:720px;
$deskBreakPoints:700px;
$headingFontSize:48px;
$spaceY:4rem 2rem 0 0;